.DS_Store
All work, no play.materials/Release
All work, no play.inform/Build
All work, no play.inform/Index
All work, no play.inform/Metadata.iFiction
All work, no play.inform/Release.blurb
All work, no play.inform/manifest.plist
All work, no play.inform/Skein.skein
All work, no play.inform/Settings.plist
